<form action="/diary.add" method="post">
  <table>
    <tr>
      <th><label for="title">タイトル</label></th>
      <td>
        <input type="text" id="title" name="title" class="text" value=""/>
      </td>
    </tr>
    <tr>
      <th><label for="body">内容</label></th>
      <td>
        <textarea id="body" name="body" class="text"></textarea>
      </td>
    </tr>      
    <tr>    
      <td colspan="2" class="submit">
        <input type="submit" value="作成"/>
      </td>
    </tr>
  </table>
</form>