<body data-next-page="[% next_page | html %]">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="/js/diary.js"></script>
<div id="diary-list">
[% IF entries.size %]
  [% FOR entry IN entries %]
    <a href="/diary/[% entry.id | html %]">[% entry.title | html %]</a>
    <div>[% entry.body | html %]</div>
  [% END %]
[% ELSE %]
<p>日記がまだありません</p>
[% END %]
</div>
<div>
  <p>
    <a href="/diary.add">日記を書く</a>
  </p>
</div>
</body>
